<form>
    <div class="form-group row">
        <label for="desc" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-3">
            <textarea rows="6" cols="10" id="desc" class="form-control" ng-model="about.desc"></textarea>
            <!--<input id="name" class="form-control" type="text" ng-model="basic.name">-->
        </div>
    </div>
    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location:</label>
        <div class="col-sm-3">
            <input id="location" class="form-control" type="text" ng-model="about.location">
        </div>
    </div>
    <div class="form-group row">
        <label for="team" class="col-sm-2 col-form-label">Team:</label>
        <div class="col-sm-3">
            <input id="team" class="form-control" type="text" ng-model="about.team">
        </div>
    </div>
    <div class="form-group row">
        <label for="Association" class="col-sm-2 col-form-label">Association:</label>
        <div class="col-sm-3">
            <input id="Association" class="form-control" type="text" ng-model="about.association">
        </div>
    </div>

    <div class="form-group">
        <!--<button class="btn btn-primary" ng-click="partialSubmit()">Next</button>-->
        <button class="btn btn-outline-success" ng-click="partialSubmit()">Next</button>

    </div>
</form>
