<form ng-submit="partialSubmit()">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-3">
            <input id="name" class="form-control" type="text" ng-model="basic.name">
        </div>
    </div>
    <div class="form-group row">
        <label for="sport" class="col-sm-2 col-form-label">Sport:</label>
        <div class="col-sm-3">
            <select multiple class="form-control" id="sport" ng-model="basic.sport">
                <option ng-repeat="sport in sportsList ">
                    <span class="col-form-label">{{sport.name}}</span>
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Gender:</label>
        <div class="col-sm-3">
            <select id="gender" class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="basic.gender">
                <!--<option selected>Choose...</option>-->
                <option value="Male" selected>Male</option>
                <option>Female</option>
                <option>other</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="nationality" class="col-sm-2 col-form-label">Nationality:</label>
        <div class="col-sm-3">
            <input id="nationality" class="form-control" type="text" ng-model="basic.nationality">
        </div>
    </div>
    <div class="form-group row">
        <label for="married" class="col-sm-2 col-form-label"> Married:</label>
        <div class="col-auto">
            <select id="married" class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="basic.married">
                <!--<option selected>Choose...</option>-->
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <!--<button class="btn btn-primary" ng-click="partialSubmit()">Next</button>-->
        <button class="btn btn-outline-success" type="submit">Next</button>

    </div>
</form>
