<form>
    <div class="form-group row">
        <label for="fb" class="col-sm-2 col-form-label">Facebook:</label>
        <div class="col-sm-3">
            <input id="fb" class="form-control" type="text" ng-model="social.fb">
        </div>
    </div>
    <div class="form-group row">
        <label for="twitter" class="col-sm-2 col-form-label">Twitter:</label>
        <div class="col-sm-3">
            <input id="twitter" class="form-control" type="text" ng-model="social.twitter">
        </div>
    </div>
    <div class="form-group row">
        <label for="insta" class="col-sm-2 col-form-label">Instgram:</label>
        <div class="col-sm-3">
            <input id="insta" class="form-control" type="text" ng-model="social.insta">
        </div>
    </div>
    <div class="form-group row">
        <label for="youtube" class="col-sm-2 col-form-label">Youtube:</label>
        <div class="col-sm-3">
            <input id="youtube" class="form-control" type="text" ng-model="social.youtube">
        </div>
    </div>
    <div class="form-group">
        <!--<button class="btn btn-primary" ng-click="partialSubmit()">Next</button>-->
        <button class="btn btn-outline-success" ng-click="partialSubmit()">Next</button>

    </div>
</form>
